doctype html
html

	head
		meta(charset='utf-8')
		title
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&Rubik:200")
		link(rel='stylesheet', href='css/style.css')
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.xmas20wheel
			.xmas20wheel__container
				table.xmas20wheel__wrapper
					tr
						td.xmas20wheel__inner
							.xmas20wheel__close 
							p.xmas20wheel__title Беспроигрышная лотерея от Санты 
								strong ВЫИГРАЙ СКИДКУ #[br] ОТ 5 ДО 50%
							.xmas20wheel__wheel
								.xmas20wheel__wheel_picker
								.xmas20wheel__wheel_roulette
									.xmas20wheel__wheel_center
									.xmas20wheel__wheel_bg
										.xmas20wheel__wheel_sign so close
										.xmas20wheel__wheel_box
										.xmas20wheel__wheel_sign no luck today
										.xmas20wheel__wheel_box
										.xmas20wheel__wheel_sign so close
										.xmas20wheel__wheel_box
										.xmas20wheel__wheel_sign no luck today
										.xmas20wheel__wheel_box
										.xmas20wheel__wheel_sign so close
										.xmas20wheel__wheel_box
										.xmas20wheel__wheel_sign no luck today
										.xmas20wheel__wheel_box
									.xmas20wheel__wheel_prizes
										.xmas20wheel__wheel_prize-discount 
											span -5%
										.xmas20wheel__wheel_prize-discount 
											span -40%
										.xmas20wheel__wheel_prize-discount 
											span -30%
										.xmas20wheel__wheel_prize-discount 
											span -10%
										.xmas20wheel__wheel_prize-discount 
											span -20%
										.xmas20wheel__wheel_prize-discount.xmas20wheel__wheel_prize-discount--accent 
											span -50%
							.xmas20wheel__btn Spin to win!
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		br
		form#toform
			button.js_submit Кнопка формы
		script(src="js/common.js")
